<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fish Store</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h4 class="mr-auto text-white">Fish Store</h4>
                <vc:cart-summary />

            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-2">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Data">New</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Fish" asp-action="Index">Fish</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="">Admin</a>

                </div>
            </div>
        </div>

        <div class="row m-1 p-1">
            <div id="categories" class="col-2">
                Làm tí cá đi bạn êi!
                    <vc:genre-navigation />

            </div>
                <div class="col-10">
                    @RenderBody()
                </div>
            </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
